.container p-4 {
    width: 800%;
    height: 15vw;
    object-fit: cover;
    position: center;
}

.row {
    width: 80%;
    height: 15vw;
    object-fit: cover;
}

.card{
    margin-bottom: 30px;
}